---
title: Download center
kind:  article
group: docs
---

<aside id="toc">
  <h3>In this section</h3>
  <ul>
    <li><a href="#Download+latest+version">Download latest version</a></li>
    <li><a href="#Older+versions">Download older versions</a></li>
    <li><a href="#Install+on+linux">Install on Linux</a></li>
    <li><a href="#Install+on+mac">Install on Mac OS X</a></li>
    <li><a href="#Install+on+the+cloud">Install on the cloud</a></li>
    <li><a href="#Installation+troubles">Troubleshooting</a></li>
    <li><a href="#Client+libraries">Get the clients</a></li>
  </ul>
</aside>

<section id="Download+latest+version">
  <h3>Download latest version</h3>
  <ul>
    <li>
      Debian / Ubuntu
      <a href="/releases/webrocket/webrocket-<%= $WEBROCKET_LATEST_VERSION %>.x86_64.deb">64bit</a>
      <a href="/releases/webrocket/webrocket-<%= $WEBROCKET_LATEST_VERSION %>.i386.deb">32bit</a>
    </li>
    <li>
      Fedora / RHEL
      <a href="/releases/webrocket/webrocket-<%= $WEBROCKET_LATEST_VERSION %>.x86_64.rpm">64bit</a>
      <a href="/releases/webrocket/webrocket-<%= $WEBROCKET_LATEST_VERSION %>.i386.rpm">32bit</a>
    </li>
    <li>
      Arch Linux
      <a href="/releases/webrocket/webrocket-<%= $WEBROCKET_LATEST_VERSION %>.x86_64.tar.xz">64bit</a>
      <a href="/releases/webrocket/webrocket-<%= $WEBROCKET_LATEST_VERSION %>.i386.tar.xz">32bit</a>
    </li>
    <li>
      Source: 
      <a href="/releases/webrocket/webrocket-<%= $WEBROCKET_LATEST_VERSION %>.tar.gz">tar.gz</a>,
      <a href="/releases/webrocket/webrocket-<%= $WEBROCKET_LATEST_VERSION %>.zip">zip</a>
    </li>
  </ul>
</section>

<section id="Older+versions">
  <h3>Older versions</h3>
  <p>
    You can get older versions of WebRocket from our <a href="/releases/webrocket/">releases directory</a>.
  </p>
</section>

<section id="Installation+guides">
  <h3>Installation guides</h3>
  <ul>
    <li id="Install+on+linux">
      Linux / Unix:
      <a href="/install/debian/">Debian / Ubuntu</a>,
      <a href="/install/rpm/">Fedora / RHEL</a>,
      <a href="/install/archlinux/">Arch Linux</a>,
      <a href="/install/source/">Unix (from source)</a>
    </li>
    <li id="Install+on+mac">
      Mac OS X:
      <a href="/install/homebrew/">Homebrew</a>,
      <a href="/install/macports/">Macports</a>,
      <a href="/install/osx/">Source</a>
    </li>
    <li id="Install+on+the+cloud">
      Cloud:
      <a href="/install/ec2/">EC2</a>,
      <a href="/install/heroku/">Heroku</a>
    </li>
  </ul>
</section>

<section id="Installation+troubles">
  <h3>Troubleshooting</h3>
  <p>
    If you encountered any problem during the installation see the <a href="/install/troubles/">troubleshooting</a>
    article. If you can't find solution of your problem there, please let us know about it by creating
    an <a href="http://github.com/webrocket/webrocket/issues">issue on github</a>.
  </p>
</section>

<section id="Client+libraries">
  <h3>Client libraries</h3>
  <ul>
    <li><a href="/kosmonaut/go/">Go</a></li>
    <li><a href="/kosmonaut/ruby/">Ruby</a></li>
    <li><a href="/kosmonaut/python/">Python</a></li>
    <li><a href="/kosmonaut/nodejs/">Node.JS</a></li>
    <li><a href="/kosmonaut/php/">PHP</a></li>
    <li><a href="/kosmonaut/perl/">Perl</a></li>
    <li><a href="/kosmonaut/java/">Java</a></li>
    <li><a href="/kosmonaut/dotnet/">.NET</a></li>
    <li><a href="/kosmonaut/erlang/">Erlang</a></li>
    <li><a href="/kosmonaut/haskell/">Haskell</a></li>
  </ul>
</section>

<aside id="Whats+next">
  <h3>What's next?</h3>
  <p>
    Read the <a href="/docs/">documentation</a> or go through our <a href="/guides/">guided tutorial</a>.
  </p>
</aside>
