@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Mako:400);

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-y: scroll; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: green; }
a:visited { color: green; }
a:hover { color: #000; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt 
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: nu7hatch
   ========================================================================== */
body{
   font-family:Arial, Helvetica, sans-serif;
   background:#28484F url(/img/smooth_wall.png) top left repeat;
   overflow-x:hidden;
}
a{
   text-decoration:none;
   color:#e36556;
}
a:visited{
   color:#e36556;
}
a:hover{
   text-decoration:underline;
}
pre, code{
   font-family:"Ubuntu Mono", Monospace, "Courier New";
}
.vessel{
   width:860px;
   margin:0 auto;
}
.article{
   background:#ece2d8 url(/img/grunge_wall.png) repeat;
   padding:1.5em;
   font-family:Mako;
   margin-top:1.5em;
   margin-bottom:3em;
/*box-shadow*/
   -webkit-box-shadow:6px 6px 0 rgba(255,255,255,.3);
   -moz-box-shadow:6px 6px 0 rgba(255,255,255,.3);
   box-shadow:6px 6px 0 rgba(255,255,255,.3);
}
.article em{
   color:#345a63;
   font-style:normal;
   text-decoration:none;
}
.article h2{
   margin-top:0;
   padding-top:0;
   color:rgba(0,0,0,.9);
   font-weight:normal;
   font-size:1.9em;
   margin-bottom:0.6em;
   border-bottom:1px solid rgba(0,0,0,.1);
}
.article h3, .article h4, .article h5{
   font-weight:normal;
   color:#345a63;
   margin-top:1.5em;
}
.article h3{
   font-size:1.5em;
}
.article h4{
   font-size:1.2em;
}
.article h5{
   font-size:1.0em;
}
#toc{
   border-bottom:1px solid rgba(0,0,0,.1);
}
#toc h3{
   margin-top:0;
}
[role='banner']{
   background:#ece2d8 url(/img/grunge_wall.png) repeat;
   margin-top:2.6em;
   height:70px;
}
[role='banner'] .in{
   margin-right:-8px;
}
#logo{
   font-family:ProtoSans41;
   font-size:2em;
   position:absolute;
   padding:0;
   margin:-28px 0 0 -10px;
   z-index:1000;
}
#logo a{
   background:url(/img/logo.png) top left no-repeat;
/*background-size*/
   -webkit-background-size:465px 130px;
   -moz-background-size:465px 130px;
   -o-background-size:465px 130px;
   background-size:465px 130px;
   text-indent:-9999px;
   width:465px;
   height:130px;
   display:inline-block;
}
[role='navigation']{
   float:right;
   list-style-type:none;
   margin:0;
   padding:0;
   font-family:ProtoSans21;
   width:860px;
   text-align:right;
}
[role='navigation'] li{
   display:inline-block;
   paddng:0;
}
[role='navigation'] a{
   display:block;
   padding:36px .4em 4px .4em;
   font-size:1.1em;
   line-height:26px;
   color:#28484F;
   margin:8px;
   margin-top:-4px;
}
.home a#nav_home,
.docs a#nav_docs,
.guides a#nav_guides,
.cloud a#nav_cloud{
   margin:0;
   margin-top:-112px;
   padding-top:136px;
   color:#ece2d8;
   background:#e36556;
   text-decoration:none;
   border:8px solid #ece2d8;
}
[role='navigation'] a:hover {
   color: #e36556;
}
#tagline{
   background:rgba(0, 0, 0, .2);
   padding:0.4em 0 0.2em 0;
   color:#7E918D;
   font-family:ProtoSans11;
   font-size:1.6em;
   text-transform:uppercase;
}
#container{
   width:860px;
   margin:0 auto;
}
#copy, #footnote{
   padding:0 2em;
}
#footlinks{
   margin-top:0;
   background:#7e918d url(/img/smooth_wall_light.png) repeat;
   padding:1.5em 0;
   font-size:.9em;
}
#footlinks .box{
   width:25%;
   float:left;
   text-align:center;
}
#footlinks a{
   color:#28484F;
}
#footlinks a:hover{
   color:#000;
}
#footlinks h3{
   margin-top:0;
   text-decoration:underline;
   font-family:ProtoSans21;
}
#footlinks nav{
   list-style-type:none;
   margin-left:0;
   margin-rigth:0;
   padding:0;
   line-height:1.6em;
}
[role='contentinfo']{
   margin:1.3em 0 3em 0;
   font-size:.8em;
   line-height:1.1em;
   color:#7e918d;
}
[role='contentinfo'] a{
   color:#ffda96;
}
[role='contentinfo'] a:hover{
}
#why, #how, #what{
   padding: 1em;
   margin: 1.5em 0 0 0;
   position:relative;
   width: 33%;
   box-sizing: border-box;
   z-index:2000;
   color:#ece2d8;
   text-shadow:1px 1px 0 rgba(0,0,0,.4);
   line-height:1.7em;
   text-align: center;
   font-size: 1.1em;
   height: 430px;
}
#why, #how {
   float: left;
}
#why p, #how p, #what p{
   margin:0;
}
#why{
   margin-right: .5%
}
#why .icon, #what .icon, #how .icon{
   content:'';
   display: block;
   height: 143px;
   margin-bottom: 1em;
}
#what .icon {
   background: url(/img/hand.png) no-repeat center -136px;
}
#how .icon {
   background: url(/img/connections.png) no-repeat center -144px;
}
#why .icon {
   background: url(/img/lightbulb.png) no-repeat center -145px;
}
#why:hover .icon, #what:hover .icon, #how:hover .icon {
   background-position: center 0;
}
#what:hover .icon {
   background-position: center 7px;
}
#why strong, #how strong, #what strong{
   text-shadow:3px 3px 0 rgba(0,0,0,.6);
}
#why:hover, #what:hover, #how:hover {
   background: rgba(0,0,0,.1);
   -webkit-border-radius: 2px;
}
#what{
   margin-left: .5%;
   float: right;
}
#what a{
   font-weight: bold;
   color:#ffda96;
   text-shadow:3px 3px 0 rgba(0,0,0,.6);
}
#get_it_now{
   margin-top:2em;
   background:rgba(0,0,0,0.2);
/*border-radius*/
   -webkit-border-radius:2px 2px 0 0;
   -moz-border-radius:2px 2px 0 0;
   border-radius:2px 2px 0 0;
   padding:1em 1.5em 2em 1.5em;
}
#get_webrocket_server{
   position:absolute;
}
#get_webrocket_server .inside{
}
#get_webrocket_server a{
   color:#000;
   display:block;
   font-family:ProtoSans21;
   font-size:1.2em;
   padding:0;
   margin:-8px 0 0 0;
   background: rgba(255,255,255,.15);
   height: 80px;
   width: 280px;
/*border-radius*/
   -webkit-border-radius:40px;
   -moz-border-radius:40px;
   border-radius:40px;
   text-align: right;
}
#get_webrocket_server:before {
   display: block;
   left: 284px;
   top: -8px;
   position: absolute;
   content: '+';
   width: 30px;
   font-family: ProtoSans21;
   color: rgba(0,0,0,.3);
   line-height: 80px;
   font-size: 4.1em;
}
#get_webrocket_server a .text {
   line-height: 80px;
   font-size: 1.2em;
   display: inline-block;
   padding-right: 30px;
   color: rgba(226,245,241,.6);
   text-shadow: -1px -1px 0 rgba(0,0,0,.25);
}
#get_kosmonaut{
   font-family:ProtoSans30;
   padding-left:295px;
   text-align:right;
}
#get_kosmonaut .links{
   list-style-type:none;
   padding:0;
   margin:0;
}
#get_kosmonaut a, #get_webrocket_server a .label{
   color:#d5e2db;
   display:inline-block;
   width:60px;
/*border-radius*/
   -webkit-border-radius:30px;
   -moz-border-radius:30px;
   border-radius:30px;
   background:#e36556;
   text-align:center;
   line-height:60px;
   z-index:200;
   position:relative;
   left:14px;
   text-shadow:-1px -1px 0 rgba(0,0,0,.2);
/*box-shadow*/
   -webkit-box-shadow:inset 0 0 4px rgba(255,255,255,.2);
   -moz-box-shadow:inset 0 0 4px rgba(255,255,255,.2);
   box-shadow:inset 0 0 4px rgba(255,255,255,.2);
/*transition*/
   -webkit-transition:all 100ms ease-in-out;
   -moz-transition:all 100ms ease-in-out;
   -o-transition:all 100ms ease-in-out;
   transition:all 100ms ease-in-out;
}
#get_webrocket_server a .label {
   background: #ffda96;
   color: #af6a26;
   text-shadow:-1px -1px 0 rgba(255,255,255,.15);
   font-size: 1.5em;
}
#get_kosmonaut a:hover, #get_webrocket_server a:hover .label{
   text-decoration:none;
   color:#FFDA96;
}
#get_webrocket_server a:hover .label {
   color: #df8a46;
}
#get_kosmonaut a:active, #get_webrocket_server a:active .label{
   top:2px;
   color:#933526;
   background:#D35546;
   text-shadow:1px 1px 0 rgba(255,255,255,.5);
/*box-shadow*/
   -webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.3);
   -moz-box-shadow:inset 0 0 4px rgba(0,0,0,.3);
   box-shadow:inset 0 0 4px rgba(0,0,0,.3);
}
#get_webrocket_server a:active .label {
   background: #dfaa66;
   color: #9f5a16;
}
#get_kosmonaut li, #get_webrocket_server a .button{
   display:inline-block;
   padding-left:22px;
   float:left;
}
#get_webrocket_server a .button{
   padding-left:0;
   margin-top: 8px;
   margin-left: -4px;
}
#get_kosmonaut li:before, #get_webrocket_server a .button:before{
   content:'';
   display:block;
   width:80px;
   z-index:100;
   margin-left:4px;
   margin-top:-8px;
/*border-radius*/
   -webkit-border-radius:40px;
   -moz-border-radius:40px;
   border-radius:40px;
   height:80px;
   position:absolute;
   background:rgba(255,255,255,.15);
}
#get_webrocket_server a .button:before {
   -webkit-box-shadow: 1px 0 0 rgba(255,255,255,.4);
}
#get_kosmonaut li:after, #get_webrocket_server a .button:after{
   border:1px solid #18282F;
   margin-left:10px;
   content:'';
   display:block;
   width:66px;
   z-index:100;
   margin-top:-62px;
/*border-radius*/
   -webkit-border-radius:33px;
   -moz-border-radius:33px;
   border-radius:33px;
   background:#933526;
   height:66px;
   position:absolute;
/*box-shadow*/
   -webkit-box-shadow:inset -2px -2px 5px rgba(255,255,255,.2);
   -moz-box-shadow:inset -2px -2px 5px rgba(255,255,255,.2);
   box-shadow:inset -2px -2px 5px rgba(255,255,255,.2);
}
#get_webrocket_server a .button:after{
   background: #af6a26;
}
#get_kosmonaut abbr{
   border-bottom:none;
}
#learn{
   margin-top:1px;
   background:rgba(0,0,0,0.4);
/*border-radius*/
   -webkit-border-radius:0 0 2px 2px;
   -moz-border-radius:0 0 2px 2px;
   border-radius:0 0 2px 2px;
   padding:1em 1.5em 1.5em 1.5em;
   color:#ECE2D8;
}
#learn a, #talk_to_us a{
   color:#ffda96;
}
#learn p, #talk_to_us p{
   margin-bottom:0;
   font-size:1.1em;
}
#talk_to_us{
   margin-top:1em;
   padding:1em 1.5em 1.5em 1.5em;
   color:#7e918d;
}
#partners{
   background:rgba(255,255,255,.1);
   margin-bottom:0;
   margin-top:1em;
}
#partners .in{
   padding:1em 1.5em 1.5em 1.5em;
}
#get_it_now h2, #learn h2, #talk_to_us h2, #partners h2{
   font-family:ProtoSans31;
   color:#FFDA96;
   margin:0 0 1em 0;
   font-size:1.8em;
   padding:0;
   margin-bottom:.5em;
   text-shadow:2px 2px 0 #e36556;
}
#get_it_now h2 {
   margin-bottom: 1em;
}
#partners h2{
   text-shadow:2px 2px 0 #213247;
   color:#7E918D;
}
#cubox{
   position:absolute;
   width:860px;
   text-align:right;
}
#cubox a{
   display:inline-block;
   padding-right:1.5em;
   opacity:.3;
}
#cubox a:hover{
   opacity:.5;
}

#how_it_works{
   height: 509px;
   width: 812px;
   margin-top: -0.5em;
   margin-bottom: 2.5em;
   background: #1a1F21;
}
#how_it_works #stars1, #how_it_works #stars2 {
   background-repeat: repeat;
   background-position: 0px 0px;
   background-color: transparent;
   background-image: url(/img/dg-stars.png);
   width: 812px;
   height: 509px;
   position: absolute;
   z-index: 99;
}
#how_it_works #rockets {
   width: 812px;
   height: 509px;
   z-index: 100;
   background: url(/img/dg-rockets.png) center center no-repeat;
   position: absolute;
}
#how_it_works #stars1 {
   background-size: 20% 20%;
   z-index: 98;
}
#how_it_works .frame {
   height: 509px;
   position: relative;
   z-index: 105;
   background: url(/img/dg-frame.png) top center no-repeat;
   background-size: 812px 509px;
}
#how_it_works_browsers {
   width: 164px;
   height: 237px;
   background: url(/img/dg-browsers.png) center center no-repeat;
   position: absolute;
   left: 595px;
   top: 150px;
}
#how_it_works_clients {
   width: 99px;
   height: 99px;
   background: url(/img/dg-clients.png) center center no-repeat;
   position: absolute;
   top: 90px;
   left: 79px;
}
#how_it_works_workers {
   width: 111px;
   height: 129px;
   background: url(/img/dg-workers.png) center center no-repeat;
   position: absolute;
   top: 275px;
   left: 55px;
}
#how_it_works ul{
   z-index: 100;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#how_it_works li .in {
   position: absolute;
   background: #E36556;
   padding: 5px 12px;
}
#how_it_works h3 {
   font-family: ProtoSans21;
   padding: 0;
   margin: 0;
   color: #FFDA96;
   text-shadow: 1px 1px 0 rgba(0,0,0,.2); 
   font-size: 1em;
}
#how_it_works_browsers .in {
   top: -55px;
   left: 25px;
}
#how_it_works_clients .in {
   top: -22px;
   left: 100px;
}
#how_it_works_workers .in {
   top: -45px;
   left: 12px;
}
#how_it_works_broker {
   display: none;
}
#how_it_works li p{
   display: none;
}


/* ==|== pygments ===========================================================
   Syntax highlighting styles
   ========================================================================== */

pre .hll { background-color: #ffffcc; }
pre  { background: rgba(255,218,150,.4); padding: 5px 10px; border-left: 5px solid #e36556; }
pre .c { color: #008800; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #AA22FF; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .cm { color: #008800; font-style: italic } /* Comment.Multiline */
pre .cp { color: #008800 } /* Comment.Preproc */
pre .c1 { color: #008800; font-style: italic } /* Comment.Single */
pre .cs { color: #008800; font-weight: bold } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #808080 } /* Generic.Output */
pre .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0040D0 } /* Generic.Traceback */
pre .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #AA22FF } /* Keyword.Pseudo */
pre .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
pre .m { color: #666666 } /* Literal.Number */
pre .s { color: #BB4444 } /* Literal.String */
pre .na { color: #BB4444 } /* Name.Attribute */
pre .nb { color: #AA22FF } /* Name.Builtin */
pre .nc { color: #0000FF } /* Name.Class */
pre .no { color: #880000 } /* Name.Constant */
pre .nd { color: #AA22FF } /* Name.Decorator */
pre .ni { color: #999999; font-weight: bold } /* Name.Entity */
pre .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
pre .nf { color: #00A000 } /* Name.Function */
pre .nl { color: #A0A000 } /* Name.Label */
pre .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
pre .nt { color: #008000; font-weight: bold } /* Name.Tag */
pre .nv { color: #B8860B } /* Name.Variable */
pre .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mf { color: #666666 } /* Literal.Number.Float */
pre .mh { color: #666666 } /* Literal.Number.Hex */
pre .mi { color: #666666 } /* Literal.Number.Integer */
pre .mo { color: #666666 } /* Literal.Number.Oct */
pre .sb { color: #BB4444 } /* Literal.String.Backtick */
pre .sc { color: #BB4444 } /* Literal.String.Char */
pre .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #BB4444 } /* Literal.String.Double */
pre .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #BB4444 } /* Literal.String.Heredoc */
pre .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
pre .sx { color: #008000 } /* Literal.String.Other */
pre .sr { color: #BB6688 } /* Literal.String.Regex */
pre .s1 { color: #BB4444 } /* Literal.String.Single */
pre .ss { color: #B8860B } /* Literal.String.Symbol */
pre .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
pre .vc { color: #B8860B } /* Name.Variable.Class */
pre .vg { color: #B8860B } /* Name.Variable.Global */
pre .vi { color: #B8860B } /* Name.Variable.Instance */
pre .il { color: #666666 } /* Literal.Number.Integer.Long */


/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 860px) {
   body {
      font-size: .9em;
   }
   .vessel {
      width: 90%;
   }
   [role='navigation'] {
      display: none;
   }
   #logo {
      margin-left: 0;
      text-align: center;
      width: 100%;
   }
   #tagline {
      text-align: center;
   }
   #footlinks {
      display: none;
   }
   #why, #how, #what {
      padding: 1em;
   }
   #get_it_now {
      display: none;
   }
   #learn {
      -webkit-border-radius: 0;
   }
   #how_it_works {
      display: none;
   }
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
   * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
   a, a:visited { text-decoration: underline; }
   a[href]:after { content: " (" attr(href) ")"; }
   abbr[title]:after { content: " (" attr(title) ")"; }
   .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
   pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
   thead { display: table-header-group; } /* h5bp.com/t */
   tr, img { page-break-inside: avoid; }
   img { max-width: 100% !important; }
   @page { margin: 0.5cm; }
   p, h2, h3 { orphans: 3; widows: 3; }
   h2, h3 { page-break-after: avoid; }
}
